<h1>Edit the image entitled: <%= @photo.caption %> </h1>

<!-- Why are we hardcoding this form action to photo id 4? Can/should this by dynamic (:id) or using an instance variable? -->
<form action="http://localhost:3000/update_photo/<%= @photo.id %>">

  <div>
    <label for="photo_caption">Caption:</label>
    <input type="text" name="the_caption" value="<%= @photo.caption %>">
  </div>

  <div>
    <label for="photo_image_url">Image URL:</label>
    <input name="the_source" type="text" id="photo_image_url" value="<%= @photo.source %>">
  </div>

  <div>
    <label for="photo_id">ID:</label>
    <input type="text" name="the_id" value="<%= @photo.id %>">
  </div>

  <div>
  <input type="submit" value="Update photo">
  </div>

</form>
